body{

    color: black;

    background: rgb(34,195,34);

    margin: 0px;

    font-family: "Gupter", sans-serif;

    margin-bottom: 100px;

}

header{

    border-bottom:solid 2px rgb(6,111,6);

    padding: 20px;

    font-size:32px

}

section{

    background: rgb(66 205 11);

    padding-bottom: 80px;

    padding-top: 80px;

    display:flex;

    justify-content: center;

}

.chamada-texto{

    margin-right: 5%;

}

h1{

    font-size: 37px

}

p{

    font-size: 17px

}

img {

    height: 200px;

}

.categoria-videos {

    display: flex;

    overflow-x: auto;

    gap: 10px;

}

section {

    padding-left: 20px;

    padding-right: 20px;

}

.categoria {

    padding-left: 20px;

    padding-right: 20px;

    margin-top: 50px;

}

.categoria-videos img {

    opacity: 0.5;

    height: 200px

}

.categoria-videos img:hover {

    opacity: 1.0;

    border: 1px solid rgb(137, 218, 33);

}

.categoria h2 {

    color: rgb(2, 3, 3);

}